body {
	background-color: darkgrey;
	display: flex;
	justify-content: center;
	padding-top: 2rem;
}

h2{
	color: white;
	font-size: 25px;
}

.outdiv{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	width: 50%;
	border-radius: 20px;
	color: white;
}

button{
	font-size: 15px;
	border-radius: 15px;
	padding: 10px 20px;
	border: none;
	width: 19rem;
}

.logo{
	width: 30px;
	height: auto;
	padding-top: 1rem;

.container{
	text-align: center;
}
.container img {
	display: block;
	margin: 0 auto;
}

.outdiv #gone {
	border-radius: 10px;
}

.paragraph{
	display: flex;
	padding-left: 10px;
	text-decoration: none;
	padding-bottom:10px ;
}
